.Flashcard-Index {
  background-color: #FFFFFF;
}

.Deck-Index .Wrapper, .Import .Wrapper{
  position: absolute;
  left: 5px;

  width: 100%;
  height: calc(100% - 175px);

  background-color: #FFFFFF;

  overflow-y: scroll;
}

div.Empty-Deck-Index-Statement p {
  color: gray;

  text-align: center;
}

div.Empty-Deck-Index-Statement:first-child {
  margin-top: 30px;
}
