.Search-Container label {
  display: block;
  float: left;

  width: 6%;
  height: 40px;
}

.Search-Container input {
  display: block;

  height: 30px;
  width: 96%;

  border-radius: 5px;
  border: 0px;
}

.Search-Container input {
  display: block;

  height: 30px;
  width: calc(95% - 25px);

  border-radius: 5px;
  border: 0px;
}

.Search-Container input:focus {
  outline: 0px;
}

div.Mag-And-Bar {
  display: block;

  width: 90%;

  margin: auto;
  padding: 0px 10px;
  border-radius: 5px;

  background-color: white;
}

.Search-Container {
  display: block;

  width: 100%;

  padding: 5px 0px;
  border-top: 0px solid #ddd;
  border-bottom: 1px solid #ddd;

  background-color: #f8f8f8;
}
