.Download-Deck h2 {
  width: 100%;

  margin: 0px;
  border: 1px solid #ddd;

  text-align: center;

  background-color: #E5E5E5;
  color: #616161;
}

.Download-Deck .Wrapper{
  position: absolute;
  left: 0;

  height: 800px;
  height: calc(100% - 90px);
  width: 100%;

  background-color: #FFFFFF;

  overflow-y: scroll;
}

.Download-Deck .Recap div.Description {
  display: block;

  width: 90%;

  margin: auto;
}

 .Download-Deck.Recap div.Description {
  color: #616161;
  font-style: italic;
}

.Download-Deck div.Recap {
  width: 100%;
}

.Download-Deck .Review-Grade {
  display: block;
  width: 50%;
}

.Download-Deck .Review-Info {
  display: block;
  width: 50%;
}

.Download-Deck div.Preview-Divider {
  width: 90%;

  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;

  border-top: 1px solid #ddd;
}
