.DashBoard {
  text-align: center;
}

.DashBoard h1 {
  display: block;

  height: 50px;

  border-bottom: 1px solid #ddd;
  margin-top: 0px;
  margin-bottom: 0px;

  background-color: #f8f8f8;
}

.DashBoard .Content {
  position: absolute;

  height: 100%;
  width: 100%;

  background-color: #FFFFFF;
}

h4 {
  margin: 10px;

  border: 1px solid #ddd;

  font-size: 24px;
  color: #616161;
  background-color: #F5F5F5;
}
