.DashBoard div.tour button.cancel {
  margin-left: 7%;
}

.DashBoard div.tour.step0{
  left: 32%;
}

.DashBoard div.tour.step1, .DashBoard div.tour.step2, .DashBoard div.tour.step3{
  left: 32%;
  bottom: 18%;
}

.DashBoard div.tour.step4 {
  top: 128px;
  left: 32%;
}
