.group:after{
  display: block;
  clear: both;

  content: "";
}

.Test-Graph {
  display: block;

  width: 100%;
  height: 150px;

  padding: 20px 10px;
}

.Bars {
  display: block;

  width: 100%;
  height: 80%;
}

.Bars div.Bar-Unit {
  display: block;
  position: relative;
  float:left;

  width: 14%;
  height: 100%;

  margin: 0px auto;

  text-align: center;
}

.Bars div.Bar {
  display: block;
  position: absolute;
  bottom: 0;
  left: 5%;

  height: 50%;
  width: 92%;

  margin: auto;
  border: 1px solid green;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  background-color: rgba(0, 128, 0, 0.701961);
}

.Bars num {
  display: block;
  position: absolute;

  width: 100%;
}

.Bars wrapper {
  display: block;
  position: relative;

  width: 100%;
  height: 50%;
}

.Labels {
  display: block;
  height: 80%;
}

.Labels div {
  display: block;
  float:left;

  width: 14%;
  height: 100%;

  text-align: center;
}
