.Header-With-Arrow h1 {
  display: block;

  width: 100%;
  height: 50px;
}

.Header-With-Arrow h1 a {
  float: left;

  width: 5%;

  text-decoration: none;

  color: rgb(37, 163, 252);
}

.Header-With-Arrow h1 p {
  float: left;

  width: 90%;

  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;

  color: rgb(68, 68, 68);
}
