.NewDeck .Form, .EditDeck .Form {
  display: block;

  width: 80%;

  margin: auto;

  color: #25A3FC;
}

.NewDeck .Form h4, .EditDeck .Form h4 {
  position: relative;

  width: 80%;
  height: 35px;

  margin: 40px auto 20px;
  padding-top: 5px;

  text-align: center;
  font-size: 24px;
}

.NewDeck input[type=text], .EditDeck input[type=text] {
  display: block;
  margin: auto;

  width: 95%;

  padding: 20px 0 0 10px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);

  font-size: 20px;

  background-color: rgba(0,0,0,0);
  color: black;
}

.NewDeck input[type=text]:focus, .EditDeck input[type=text]:focus{
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid rgba(37,163,252, .2);
  outline: 0;
}

label.Test-Label {
  position: absolute;
  top: 0;

  font-size: 24px;
}

.NewDeck input[type=text]:focus + label, .EditDeck input[type=text]:focus + label{
  color: #616161;
}

.NewDeck .Form div.Input-Label, .EditDeck .Form div.Input-Label {
  display: block;
  position: relative;

  width: 80%;

  margin: auto;
}
