div.Display-Stats {
  display: block;
  margin: 15px 60px 35px;
}

div.Card-Total-Display {
display: block;
float: left;
}

div.Grade-Display {
  display: block;
  float: right;
}

.DeckInfo p {
  margin: 0px 0px 0px;

  text-align: center;
  font-size: 45px;
}

.DeckInfo div {
  text-align: center;
  color: #616161;
}

.ShowContent {
  display: block;
  position: relative;
  float: left;

  width: 80%;
  height: 100%;


  background-color: #FFFFFF;
}

.ShowContent h3 {
  height: 18px;

  margin: 0px;
  border: 1px solid #ddd;

  color: #616161;
  background-color: #F5F5F5;
}

.DeckInfo {
  display: block;
  float: left;

  width: 49%;
  min-width: 410px;
  height: 365px;

  margin: auto;
}

.DeckHistory {
  display: block;
  float: left;

  width: 49%;
  min-width: 410px;
  height: 255px;

  margin: auto;
}


.Divider {
  display: block;
  float: left;

  width: 2%;
  height: 96%;

  margin: auto;
  padding: 0px;
  border-right: 1px solid #ddd;

  background-color: #FFFFFF;
}

.ClearSet {
  display: block;
  clear: both;
}

.Review {
  position: absolute;
  float: center;
  bottom: 0;
  left:0;
  right: 0;

  height: 100px;
  width: 100%;


  text-align: center;

  background-color: #FFFFFF;
  margin: auto;
  opacity: .9;
  border-color: #25A3FC;
  border-left: 0;
}

.buttonText {
  position: relative;

  padding-bottom: 40px;

  color: #25A3FC;
  font-size: 20px;

  text-align: center;
  vertical-align: middle;
}

.Compressed div.DeckInfo, .Compressed div.DeckHistory{
  float: none;
}

.Compressed .DeckInfo .stat {
  font-size: 28px;
}

.Compressed .DeckInfo .label {
  font-size: 14px;
}

.Compressed div.Display-Stats {
  margin-top: 2px;
  margin-bottom: 0px;
}

.Compressed div.DeckInfo {
  height: 245px;
}

.Compressed div.Test-Graph {
  padding-top: 5px;
}

.Compressed ul.Stat-List {
  margin-top: 0;
}

.Compressed h4.Stat-Header {
  margin-top: 15px;
}
