div.Display-Stats {
  display: block;
  margin: 15px 60px 35px;
}

div.Card-Total-Display {
display: block;
float: left;
}

div.Grade-Display {
  display: block;
  float: right;
}

.DeckInfo p {
  text-align: center;
  margin: 0px 0px 0px;

  font-size: 45px;
}

.DeckInfo div {
  text-align: center;
  color: #616161;
}

.ShowContent {
  display: block;
  position: relative;
  width: 80%;
  height: 100%;

  /*padding: 0px 3px 0px 0px;*/

  background-color: #FFFFFF;
/*TODO */
  float: left;
}

.ShowContent h3 {
  color: #616161;
  background-color: #F5F5F5;
  margin: 0px;
  border: 1px solid #ddd;

  height: 18px;
}

.DeckInfo {

  display: block;
  float: left;
  width: 49%;
  margin: auto;

  min-width: 410px;
  height: 365px;
}

.DeckHistory {

  display: block;
  float: left;

  margin: auto;

  width: 49%;
  min-width: 410px;
  height: 255px;
}


.Divider {
  display: block;
  float: left;
  width: 2%;
  height: 96%;
  border-right: 1px solid #ddd;

  margin: auto;
  /*padding-left: 15px;
  padding-right: 0px;*/

  padding: 0px;

  background-color: #FFFFFF;
}

.ClearSet {
  display: block;
  clear: both;
}

.Review {
  position: absolute;

  bottom: 0;
  left:0;
  right: 0;
  height: 100px;

  text-align: center;


  width: 100%;

  /*line-height: 50px;*/

  float: center;
  background-color: #FFFFFF;
  opacity: .9;
  border-color: #25A3FC;

  border-left: 0px;

  margin: auto;
}

.buttonText {
  position: relative;

  color: #25A3FC;
  font-size: 20px;
  padding-bottom: 40px;

  text-align: center;
  vertical-align: middle;
}

.Compressed div.DeckInfo, .Compressed div.DeckHistory{
  float: none;
  /*margin: 0 auto;*/
}

.Compressed .DeckInfo .stat {
  font-size: 28px;
}

.Compressed .DeckInfo .label {
  font-size: 14px;
}

.Compressed div.Display-Stats {
  margin-top: 2px;
  margin-bottom: 0px;
}

.Compressed div.DeckInfo {
  height: 245px;
}

.Compressed div.Test-Graph {
  padding-top: 5px;
}

.Compressed ul.Stat-List {
  margin-top: 0;
}

.Compressed h4.Stat-Header {
  margin-top: 15px;
}
