.DeckShow {
  position: absolute;

  width: 100%;
  height: 100%;
}

.DeckShow h4 {
  font-family: Roboto-Thin;
}

.DeckShow h1 {
  position: relative;
  display: block;
  background-color: #f8f8f8;
  height: 45px;

  margin: 0px;

  border-bottom: 1px solid #ddd;
  /*height: 200px;*/
  /*height: 100%;*/
}

.DeckShow a.BackLink {
  position: absolute;
  left: 0;
  padding-left: 5px;

  color: #25A3FC;

  text-decoration: none;
  margin-left: 5px;
  float: left;
}

.DeckShow .Title {
  display: block;
  width: 100px;

  color: rgb(68, 68, 68);

  margin: auto;

}

.DeckShow h2 {
  text-align: center;
  margin: 0px;

  background-color: #E5E5E5;
  color: #616161;
  border: 1px solid #ddd;
  width: 100%;
}

.BelowHeader {
  display: block;
  position: relative;

  background-color: green;

  /*text-align: center;*/

  height: 100%;
  width: 100%;

  /*padding: 0px 10px;*/
}
