.Options {
  float: right;

  height: 100%;
  width:20%;

  background:  #f8f8f8;
}

.Options h3 {
  text-align: center;
}

.Options ul {
  padding-left: 20px;
}

.Options li {
  width:300px;

  padding: 10px 0px;
  margin-right: 0px;

  list-style-type: none;
}

.Options a {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;

  font-size: 20px;
  text-decoration: none;

  color: #000000;
}

.Options div.Option-Label {
  width:39%;

  padding-bottom: 15px;
  margin-right: 0;
  border-bottom: 1px solid #ddd;
}
