.Review .Front {
  display: block;
  height: calc(100% - 170px);
}

.Review .Card-Front {
  display: block;

  height: 10%;

  margin: auto;

  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}

.Review .Spacer {
  display: block;
  height: 45%;
}

.Review .Normal-Button {
  position: absolute;
  float: center;
  bottom: 0;
  left:0;
  right: 0;

  width: 100%;
  height: 90px;

  margin: auto;
  border-top: 2px solid #25A3FC;

  font-size: 20px;
  text-align: center;

  background-color: #FFFFFF;
  color: #25A3FC;
  opacity: .9;
}
