.background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-position: center center;
  background-image: image-url('ALgWRj4.jpg');
  background-size: cover;
}
