.auth div.Facebook-Signup {
  text-decoration: none;
  color: #0099ff;
  margin-top: 16px;
  margin-left: 51px;
  margin-right: 45px;
  font-family: sans-serif;
}

.auth button.Guest-Button {
  margin-top: 19px;
  padding-top: 0;

}

.auth button:hover, .auth input[type=submit]:hover {
  cursor: pointer;
}

.auth {
  display: block;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;

  height: 400px;
  max-height:100%;
  width: 640px;
  max-width:100%;

  margin:auto;
  border-radius: 15px;
  overflow:auto;

  font-size: 20px;
  text-align: center;

  background-color: rgba(0,0,0,.6);
  color: white;
}

.auth form {
  position: relative;

  width: 350px;

  padding-left: 160px;
}

.auth h1 {
  width: 360px;

  margin: auto;
  padding-top: 40px;
  border: none;

  font-size: 55px;

  background: none;
}

.auth h3 {
  padding-top: 10px;
  font-size:  16px;
}

.auth p {
  width: 380px;

  margin: 0 auto;

  font-size: 14px;
}

.auth button, .auth #submit {
  padding-top: 30px;

  border: none;

  font-size: 20px;

  background-color: rgba(0,0,0,0);
  color: #0099ff;
}

.auth button.Sign-Up {
  padding-top: 0px;
}

.auth button.Log-In{
  padding-top: 12px;
}

.auth button:focus, .auth #submit:focus {
  outline: 0;
}

input[type=text].First-Auth-Input {
  margin-top: 46px;
}

input[type=password].Second-Auth-Input {
  margin-top: 34px;
}

input[type=password].Third-Auth-Input {
  margin-top: 34px;
}

.auth input {
  margin-left: 70px;
  margin-right: 70px;
  padding-left: 10px;
  padding-right: 0px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid gray;

  font-size: 20px;

  background-color: rgba(0,0,0,0);
  color: rgba(255, 255, 255, 1);
}

.auth input[type=text]:focus, .auth input[type=password]:focus {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  outline: 0;

  border-bottom: 1px solid rgba(37,163,252, .6);
}


.auth label {
  width: 200px;
  height: 60px;

  margin-top: 30px;
  padding-right: 12px;
}

#cancel {
  padding-left: 40px;
  color: red;
}

.auth_error {
  display: block;
  position:fixed;
  left:0;
  right:0;
  z-index: 100;

  background-color: white;
  color: black;
}
