.Flashcard-Index {

}

.Flashcard-Index h1{
  display: block;
  width: 100%;
  margin: 0px;
  float: left;
}

.Flashcard-Index a.Header-Link{
  position: absolute;
  float: left;
  text-decoration: none;
  color: rgb(37, 163, 252);
}

.Flashcard-Index a.Back{
  left: 1%;
  float: left;
  text-decoration: none;
}

.Flashcard-Index a.New{
  top: 5px;
  left: 94%;
  float: left;
  width: 60px;
  text-decoration: none;
}



.Flashcard-Index p{
  display: block;
  margin: auto;
  margin-top: 5px;

  color: rgb(68, 68, 68);
}


.Wrapper {

  position: absolute;
  height: 200px;
  overflow-y: scroll;
  height: 100%;
  height: calc(100% - 155px);
  width: 100%;

}

.Flashcard-Index-Item {
  display: block;
  float: left;
  /*width: 100px;*/
  width: 170px;
  height: 200px;

  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px 1px;

  /*border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;*/
  border-radius: 5px;


  color: black;

  margin: 10px 20px;
}

.Flashcard-Index-Item h5 {
  display: block;
  position: relative;
  width: 170px;
  margin: 0px;
  /*float: none;*/
  height: 168px;
  float: center;
  text-align: center;

}

.Flashcard-Index-Item div.Front-Sample {
  display: block;
  position: absolute;
  top: 41%;

  font-size: 18px;
  font-weight: normal;
  /*left: 10%;*/
  width: 100%;

}



li.Flashcard-Index-Item > div {
  float: none;

  display: block;

  height: 25px;
  margin: 0px;

  width: 168px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  text-align: right;
}

.Flashcard-Index-Item div.Grade {
  display: block;
  margin-right: 10px;

  text-shadow: 0 -1px 1px rgba(0,0,0,0.3);

  font-size: 20px;
  color: white;
}

.Flashcard-Index div.Search-Container {
  display: block;
  height: 70px;
  padding-top: 10px;
  border-top: 1px solid gray;
}

.Flashcard-Index .Search-Container label {
  display: block;
  width: 6%;
  height: 40px;
  float: left;
}

.Flashcard-Index .Search-Container input {
  display: block;
  width: 92%;
  margin-top: 100px;
  /*margin: auto;*/
}

.Flashcard-Index .Search-Container {
  display: block;

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  padding: 10px 0px;

  width: 100%;
}
