.Flashcard-Edit div.List-Center, .Flashcard-New div.List-Center {
  position: absolute;
  float: left;
  display: block;
  left: 50%;
  top: 37%;

  width: 48%;
}

.Flashcard-Edit, .Flashcard-New {
  text-align: center;
}

.Flashcard-Edit .Form, .Flashcard-New .Form {
  display: block;

  height: 100%;
  width: 100%;
}

.Flashcard-Edit form, .Flashcard-New form {
  position: relative;
  display: block;
  float: left;

  width: 48%;
  height: 100%;
}

.Flashcard-Edit .Preview, .Flashcard-New .Preview {
  display: block;
  float: right;

  width: 48%;
  height: 100%;
  font-size: 20px;
}

.Flashcard-Edit .Preview div.Section, .Flashcard-New .Preview div.Section {
  position: relative;
  display: block;

  width: 100%;

  text-align: center;
}

.Flashcard-Edit .Preview div.P-Back, .Flashcard-New .Preview div.P-Back {
  display: block;
  position: relative;
  width: 100%;

  text-align: center;
}



.Flashcard-Edit .Preview .Front, .Flashcard-New .Preview .Front {
  display: block;
  bottom: 0;
  right: 5%;

  width:90%;

  margin: auto;
  border: 2px dashed rgb(37, 163, 252);;
}

.Flashcard-Edit .Preview .Front::before, .Flashcard-New .Preview .Front::before {
  float: left;

  padding-left: 5px;

  text-align: left;
  content: "front";

  color: rgb(37, 163, 252);
}

.Flashcard-Edit div.Preview-Divider, .Flashcard-New div.Preview-Divider {
  border-top: 1px solid #ddd;
  margin-top: 6px;
}

.Flashcard-Edit .Preview .Back, .Flashcard-New .Preview .Back {
  display: block;
  bottom: 0;
  right: 5%;
  width:90%;

  margin: auto;
  margin-top: 12px;

  border: 2px dashed rgb(37, 163, 252);
}

.Flashcard-Edit .Preview .Back::before, .Flashcard-New .Preview .Back::before {
  float: left;

  padding-left: 5px;

  text-align: left;
  content: "back";

  color: rgb(37, 163, 252);
}

.Flashcard-Edit textarea, .Flashcard-New textarea {
  display: block;

  width: 100%;
  height: 27%;

  text-align: top;
  font-size: 16px;
}

.Flashcard-Edit input[type=submit], .Flashcard-New input[type=submit] {
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 65px;

  opacity: .9;
  border-top: 2px solid #25A3FC;
  z-index: 100;

  font-size: 20px;

  background-color: #FFFFFF;
  color: purple;
  color: #25A3FC;
}

.Flashcard-Edit .Preview-Text, .Flashcard-New .Preview-Text {
  min-height: 30px;
}

.Flashcard-Edit div.Preview-Divider, .Flashcard-New div.Preview-Divider {
  margin-top: 14px;
}

 .Flashcard-Edit.Compressed div.Preview, .Flashcard-New.Compressed div.Preview {
  position: absolute;
  right: 200%;
}

.Flashcard-Edit.Compressed form, .Flashcard-New.Compressed form {
 width: 100%;
 height: 100%;
 float: none;
 margin: auto;
}

.Flashcard-Edit.Compressed textarea, .Flashcard-New.Compressed textarea {
  width: 90%;
  margin: auto;
}

.Flashcard-Edit.Compressed h4, .Flashcard-New.Compressed h4 {
 float: none;

 width: 90%;
 
 margin: auto;
 margin-top: 10px;
 margin-bottom: 10px;
}
