.Flashcard-Index canvas {
  width: 90px;
}

.Flashcard-Index .Loading-Bar {
  width: 90px;
  margin: auto;
  margin-top: 80px;
}

.Flashcard-Index h1{
  display: block;

  width: 100%;

  margin: 0px;
  border-bottom: 0;
}

.Flashcard-Index a.Header-Link{
  position: absolute;
  float: left;

  text-decoration: none;

  color: rgb(37, 163, 252);
}

.Flashcard-Index a.Back{
  float: left;

  left: 1%;

  text-decoration: none;
}

.Flashcard-Index a.New{
  top: 5px;
  right: 9px;

  width: 60px;

  text-decoration: none;
}



.Flashcard-Index p{
  display: block;

  margin: auto;

  color: rgb(68, 68, 68);
}


.Flashcard-Index .Wrapper {
  position: absolute;

  height: 200px;
  height: 100%;
  height: calc(100% - 155px);
  width: 100%;
  overflow-y: scroll;
}

.Flashcard-Index-Item {
  display: block;
  float: left;
  width: 170px;
  height: 200px;

  margin: 10px 20px;
  border-radius: 5px;

  color: black;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px 1px;
}

.Flashcard-Index-Item h5 {
  display: block;
  position: relative;
  float: center;

  width: 170px;
  height: 168px;

  margin: 0px;

  text-align: center;
}

.Flashcard-Index-Item div.Front-Sample {
  display: block;
  position: absolute;
  top: 41%;

  width: 100%;

  font-size: 18px;
  font-weight: normal;
}

li.Flashcard-Index-Item > div {
  display: block;
  float: none;

  height: 25px;
  width: 168px;

  margin: 0px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  text-align: right;
}

.Flashcard-Index-Item div.Grade {
  display: block;

  margin-right: 10px;

  font-size: 20px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.3);

  color: white;
}

.Flashcard-Index div.Search-Container {
  display: block;

  height: 30px;

  padding-top: 10px;
}

.Flashcard-Index .Search-Container label {
  display: block;
  float: left;

  width: 6%;
  height: 40px;
}

.Flashcard-Index .Search-Container input {
  display: block;
  width: 92%;
}

.Flashcard-Index .Search-Container {
  display: block;

  width: 100%;

  padding: 10px 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
