.Flashcard-Show {
  display: block;
  position: relative;

  width: 100%;
  height: 100%;
}

.Flashcard-Show h1 {
  display: block;

  width: 100%;
  height: 50px;
}

.Flashcard-Show h1 a {
  float: left;

  width: 5%;

  text-decoration: none;

  color: rgb(37, 163, 252);
}

.Flashcard-Show h1 p {
  float: left;

  width: 90%;

  margin: 0px;
  padding: 0px;

  color: rgb(68, 68, 68);
}

.Flashcard-Show .Preview{
  display: block;
  position: relative;
  float: left;

  height: 100%;
  width:50%;

  border-right: 1px solid #ddd;

  text-align: center;
}

.Flashcard-Show .Preview div.Section {
  position: relative;
  display: block;

  height:40%;
  width: 100%;

  text-align: center;
}

.Flashcard-Show .Preview .List-Center{
  display: block;
  height: 100%;
}

.Flashcard-Show .Preview .Front {
  display: block;
  position: absolute;
  bottom: 0;

  width:100%;

  text-align: center;
}

.Flashcard-Show div.Preview-Divider {
  display: block;

  height: 1px;
  width: 94%;

  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  background-color: #ddd;
}


.Flashcard-Show .Not-Preview{
  display: block;
  float: right;

  height: 100%;
  width:49%;
}

.Flashcard-Show .Not-Preview .Info {
  display: block;
  float:none;

  width: 100%;
  height:35%;
  border: 0px;
}

.Not-Preview .Options {
  display: block;
  position: relative;

  width: 200px;
  height: 100px;

  border: 0px;

  background-color: #FFFFFF;
}

.Not-Preview div.Options {
  float: none;
  margin: auto;

  width: 100%;
}


.Flashcard-Show .Not-Preview a {
  display: block;
  float: left;

  width: 35px;

  margin-left: 25%;
  padding: 0px;
  border-bottom: 0px solid #ffffff;

  text-decoration: none;

  color: rgb(37, 163, 252);
}

.Flashcard-Show .Not-Preview button {
  display: block;
  float:left;

  margin-left: 25%;
  padding: 0px;
  border: 0;
  outline: none;

  font-size: 20px;

  color: red;
  background-color: #FFFFFF;
}

.Flashcard-Show .Not-Preview button:hover {
  cursor: pointer;
}
