.Flashcard-Show {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

  .Flashcard-Show h1 {
    display: block;
    width: 100%;
    height: 50px;
  }

.Flashcard-Show h1 a {
  color: rgb(37, 163, 252);
  width: 5%;
  float: left;
  text-decoration: none;
}

.Flashcard-Show h1 p {
  color: rgb(68, 68, 68);
  margin: 0px;
  padding: 0px;
  width: 90%;
  float: left;
}

.Flashcard-Show .Preview{
  display: block;
  position: relative;
  height: 100%;
  width:50%;

  float: left;
  text-align: center;

  border-right: 1px solid #ddd;
}

.Flashcard-Show .Preview p {
  position: relative;
  text-align: center;
  display: block;
  height:40%;
  width: 100%;
}

.Flashcard-Show .Preview .List-Center{
  display: block;
  height: 100%;
}

.Flashcard-Show .Preview .Front {
  display: block;
  position: absolute;
  text-align: center;
  bottom: 0;
  width:100%;

}

.Flashcard-Show div.Preview-Divider {
  display: block;
  height: 1px;
  background-color: #ddd;
  width: 94%;
  margin: auto;
}


.Flashcard-Show .Not-Preview{
  display: block;
  height: 100%;
  width:49%;
  float: right;
}

.Flashcard-Show .Not-Preview .Info {
  display: block;
  width: 100%;
  height:35%;
  border: 0px;
  float:none;
}

.Flashcard-Show .Not-Preview .Options {
  display: block;
  width: 45%;
  height: 65%;
  border: 0px;

}

.Flashcard-Show .Not-Preview a {
  display: block;
  color: rgb(37, 163, 252);
  float: left;
  margin-left: 30%;
  text-decoration: none;
}

.Flashcard-Show .Not-Preview button {
  display: block;
  color: red;
  float:right;
  margin-right: 30%;
  outline: none;
  border: 0;

  background-color: #f8f8f8;
}
