.Flashcard-Index {
  background-color: #FFFFFF;
}


.Wrapper{
  position: absolute;
  height: 200px;
  overflow-y: scroll;
  height: 100%;
  height: calc(100% - 155px);
  width: 100%;
  left: 5px;
  background-color: #FFFFFF;
}

.Deck-Index-Item {
  display: block;
  float: left;
  width: 45%;
  height: 90px;

  color: black;

  border-top: 1px solid rgba(0,0,0,0.15);
  border-left: 1px solid rgba(0,0,0,0.15);
  border-bottom: 3px solid rgba(0,0,0,0.2);
  border-right: 3px solid rgba(0,0,0,0.2);

  margin: 10px 20px;
}

.Deck-Index-Item .Left-Side-Content {
  display: block;
  float: left;
  width: 40%;
}

.Deck-Index-Item h5 {
  display: block;
  width: 50%;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 0px;
  margin-bottom: 5px;

  font-size: 18px;
  font-weight: bold;
  /*float:left;*/
  /*margin: 10px 5px;*/
}

div.Card-Count {
  display: block;
  width: 100%;
}

.Deck-Index-Item p {
  display: block;
  float: left;
  width: 25%;

  margin-top: 10px;
  margin-left: 5px;

}

.Deck-Index-Item p.Grade {
  display: block;
  width: 40%;
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  font-size: 27px;
}

div.Percentage {
  display: block;
  float: left;
  margin-top: 30px;
  margin-left: 20%;
}

.Search-Container label {
  display: block;
  width: 6%;
  height: 40px;
  float: left;
}

.Search-Container input {
  display: block;
  width: 92%;

}

.Search-Container {
  display: block;

  background-color: #f8f8f8;

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  padding: 10px 0px;

  width: 100%;
}
