.NewDeck, .EditDeck {
  position: absolute;;
  height: 100%;
  width: 100%;

  text-align: left;
  background-color: #FFFFFF;
}

.NewDeck .Header, .EditDeck .Header {
  display: black;
  background-color: #f8f8f8;

  border-bottom: 1px solid #ddd;
}

.NewDeck .Header h1, .EditDeck .Header h1 {
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.NewDeck .Header .Cancel, .EditDeck .Header .Cancel {
  position: absolute;
  top: 9px;
  left: 10px;

  font-size: 24px;
  color: red;
  text-decoration: none;
}

.NewDeck .Form, .EditDeck .Form {
  color: #25A3FC;
  display: block;
  width: 80%;
  margin: auto;
}

.NewDeck .Form h4, .EditDeck .Form h4 {
  position: relative;
  margin: auto;
  width: 60%;

  margin-top: 10px;
}


.NewDeck input[type=text], .EditDeck input[type=text] {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;

  display: block;
  margin: 0;
  width: 100%;

  padding-left: 10px;

  border-bottom: 2px solid rgba(0, 0, 0, 0);

  background-color: rgba(0,0,0,0);
  color: black;

  font-size: 20px;

  padding-top: 20px
}



.NewDeck input[type=text]:focus, .EditDeck input[type=text]:focus{
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  outline: 0;
  color: red;

  border-bottom: 2px solid rgba(37,163,252, .4);
}


.NewDeck .Form label, .EditDeck .Form label {
  display: block;
  margin: auto;
  width: 60%;
}


.NewDeck .Form .Save, .EditDeck .Form .Save {

  position: absolute;

  bottom: 0;
  left:0;
  right: 0;
  height: 90px;

  text-align: center;

  width: 100%;


  float: center;
  background-color: #FFFFFF;
  opacity: .9;

  border-top: 2px solid #25A3FC;

  color: #25A3FC;
  font-size: 20px;

  margin: auto;

}
