@font-face {
  font-family: "Roboto";
  src: font-url('roboto/Roboto-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Roboto-Condensed"; src:
  font-url('roboto/RobotoCondensed-Regular.ttf') format("truetype");
 }

@font-face {
  font-family: "Roboto-Thin";
  src: font-url('roboto/Roboto-Thin.ttf') format("truetype");
}
