@font-face { font-family: "Roboto"; src: font-url('roboto/Roboto-Regular.ttf') format("truetype"); }
@font-face { font-family: "Roboto-Condensed"; src: font-url('roboto/RobotoCondensed-Regular.ttf') format("truetype") }
@font-face { font-family: "Roboto-Thin"; src: font-url('roboto/Roboto-Thin.ttf') format("truetype"); }


.background {
  position: fixed;
  display: block;
  background-position: center center;
  background-image: image-url('ALgWRj4.jpg');

  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.auth h1:before {
  height: 60px;
  width: 90px;
  display: block;
  // margin-top: 8px;
  // margin-right: 10px;
  // margin-left: 30px;
  float: left;
  background-image: image-url('Anki-Clone-Logo.png');
  background-position: center center;
  background-size: cover;
  content: "";
}

.auth .Username-Icon {
  position: absolute;
  height: 30px;
  width: 40px;
  display: block;

  top: 45px;
  left: 160px;
  // float: left;
  background-image: image-url('username_gray.png');
  background-position: center center;
  background-size: cover;
  content: "";
}

.auth div.Username-Icon-Blue {
  position: absolute;
  height: 30px;
  width: 40px;
  display: block;

  top: 45px;
  left: 160px;
  // float: left;
  background-image: image-url('username_blue.png');
  background-position: center center;
  background-size: cover;
  content: "test";
}

.auth .Password-Icon-1 {
  position: absolute;
  height: 35px;
  width: 30px;
  display: block;

  top: 100px;
  left: 165px;
  // float: left;
  background-image: image-url('lock_gray.png');
  background-position: center center;
  background-size: cover;
  content: "";
}

.auth .Password-Icon-1-Blue {
  position: absolute;
  height: 31px;
  width: 27px;
  display: block;

  top: 100px;
  left: 167px;
  // float: left;
  background-image: image-url('lock_blue.png');
  background-position: center center;
  background-size: cover;
  content: "";
}

.auth .Password-Icon-2 {
  position: absolute;
  height: 35px;
  width: 30px;
  display: block;

  top: 160px;
  left: 165px;
  // float: left;
  background-image: image-url('lock_gray.png');
  background-position: center center;
  background-size: cover;
  content: "";
}

.auth .Password-Icon-2-Blue {
  position: absolute;
  height: 31px;
  width: 27px;
  display: block;

  top: 160px;
  left: 167px;
  // float: left;
  background-image: image-url('lock_blue.png');
  background-position: center center;
  background-size: cover;
  content: "";
}

.Options div {
  height: 25px;
  width: 25px;

  margin-right: 25px;

  float: left;

  background-position: center center;
  background-size: cover;
}

.Options div.Edit-Icon {
  background-image: image-url('edit-logo.png');
}


.Options div.Card-Icon {
  background-image: image-url('cards.png');
}

.Options div.Remove-Icon {
  background-image: image-url('remove.png');
}

div.Arrow-Right {
  height: 40px;
  width: 25px;
  margin-top: 25px;
  margin-left: 0px;
  margin-right: 10%;
  float: right;

  color: #25A3FC;

  background-image: image-url('arrow_right.png');
  background-position: center center;
  background-size: cover;
}

.Deck-Index-Item div.Cards-Image {
  height: 25px;
  width: 25px;
  margin-top: 5px;
  margin-left: 30px;
  float: left;
  background-image: image-url('cards.png');
  background-position: center center;
  background-size: cover;
}

div.Search-Container .Mag-And-Bar div:before {
  height: 15px;
  width: 15px;
  margin-top: 8px;
  margin-right: 10px;
  // margin-left: 30px;
  float: left;
  background-image: image-url('magnify_gray.png');
  background-position: center center;
  background-size: cover;
  content: "";
}



li.Icon {
  display: block;
  width: 40px;
  height: 40px;
  // margin-left: calc(25% - 292px);
  // margin-right: calc(25% - 292px);
  // margin: auto;
  background-position: center center;
  background-size: cover;
}

li.Home-Icon {
  position: absolute;
  left: calc(15% - 20px);
  background-image: image-url('home_gray.png');
}

.DashBoard li.Home-Icon {
  background-image: image-url('home_blue.png');
}

li.Decks-Icon {
  position: absolute;
  left: calc(32.5% - 20px);
  height: 43px;
  background-image: image-url('decks_gray.png');
}

.Deck-Index li.Decks-Icon {
  background-image: image-url('decks_blue.png');
}

li.New-Decks-Icon {
  position: absolute;
  left: calc(50% - 20px);
  background-image: image-url('add_deck_gray.png');
}

.NewDeck li.New-Decks-Icon {
  background-image: image-url('add_deck_blue.png');
}

li.Import-Icon {
  position: absolute;
  left: calc(67.5% - 20px);
  background-image: image-url('download_gray.png');
}

.Import li.Import-Icon {
    background-image: image-url('download_blue.png');
}


li.Profile-Icon {
  position: absolute;
  left: calc(85% - 20px);
  width: 41px;
  background-image: image-url('profile_gray.png');
}


.Profile li.Profile-Icon {
  background-image: image-url('profile_blue.png');
}
