.Download-Deck .Wrapper{
  position: absolute;
  left: 0;

  height: 800px;
  height: calc(100% - 90px);
  width: 100%;

  background-color: #FFFFFF;

  overflow-y: scroll;
}

.Download-Deck h2 {
  width: 100%;

  margin: 0px;
  border: 1px solid #ddd;

  text-align: center;

  background-color: #E5E5E5;
  color: #616161;
}

.Download-Deck .Preview-List {
  display: block;

  width: 100%;
  height: 280px;
}


.Download-Deck .Preview-List:after {
  display: block;

  clear: both;

  content: "";
}

.Download-Deck .Preview {
  display: block;
  float: left;

  height: 270px;
  width: 15%;

  margin: calc(5.5% - 11px);
  margin-bottom: 0px;
  margin-top: 50px;

  text-align: center;
}

.Download-Deck div.List-Center {
  position: absolute;
  top: 40%;

  height: 100%;
  width: 100%;
}


.Download-Deck div.Preview {
  display: block;
  position: relative;

  border: 1px solid #ddd;
}

.Download-Deck .Recap div.Description {
  display: block;

  width: 90%;

  margin: auto;
}

 .Download-Deck.Recap div.Description {
  color: #616161;
  font-style: italic;
}

.Download-Deck div.Recap {
  width: 100%;
}

.Download-Deck .Review-Grade {
  display: block;
  width: 50%;
}

.Download-Deck .Review-Info {
  display: block;
  width: 50%;
}

.Download-Deck div.Preview-Divider {
  width: 90%;

  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;

  border-top: 1px solid #ddd;
}



.Download-Deck .Normal-Button {
  position: absolute;
  float: center;
  bottom: 0;
  left:0;
  right: 0;

  height: 90px;
  width: 100%;

  margin: auto;
  border-top: 2px solid #25A3FC;

  font-size: 20px;
  text-align: center;

  background-color: #FFFFFF;
  opacity: .9;
  color: #25A3FC;
}

.Compressed.Download-Deck div.Preview{
  height: 200px;
  width: 220px;
  width: 30%;
  
  margin-left: 12%;
  margin-top: 10px;
}
