.Review {
  opacity: 1;
  text-align: center;
}

.Review-Grade canvas {
  height: 200px;
  width: 200px;
}

canvas.Progress-Circle {
  position: absolute;
  right: 0;

  height: 24px;
  width: 24px;
}

.Review button.BackLink {
  position: absolute;
}

.Review h1 {
  display: block;
  position: relative;
}

.Review .Title {
  display: block;
  margin: auto;
}

.Review h1 button {
  display: block;
  float: left;

  width: 5%;

  border: none;
  outline: none;

  font-size: 30px;

  background: none;
  background-color: transparent;
  color: #25A3FC;
}

.Review h6 {
  position: relative;

  height: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  font-size: 24px;

  color: #616161;
  background-color: #E5E5E5;
}

.Progress-Circle {
  float: right;
  margin: 2px 5px;
}

.Review .Front {
  display: block;
  height: calc(100% - 170px);
}

.Review .Card-Front {
  display: block;

  height: 10%;

  margin: auto;

  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}

.Review .Spacer {
  display: block;
  height: 45%;
}

.Flipped {
  height: calc(100% - 220px);
}

.Flipped .Preview{
  display: block;

  height: 50%;

  font-size: 18px;
}

.Flipped p{
  position: relative;

  height: 100%;

  margin-top: 23px;
  margin-bottom: 13px;
}

.Flipped .List-Center {
  display: block;
  position: absolute;
  top: 42%;

  height: 100%;
  width: 100%;
}

.Flipped div.Front {
  height: auto;
  position: absolute;
  bottom: 0;
  right: 5%;

  width:90%;

  margin-bottom: 15px;
}

.Flipped div.Back {
  height: 100%;
  margin-top: 10px;
}

.Review .Normal-Button {
  position: absolute;
  float: center;
  bottom: 0;
  left:0;
  right: 0;

  width: 100%;
  height: 90px;

  margin: auto;
  border-top: 2px solid #25A3FC;

  font-size: 20px;
  text-align: center;

  background-color: #FFFFFF;
  color: #25A3FC;
  opacity: .9;

}

.Flipped .Buttons {
  position: absolute;
  float: center;
  bottom: 0;
  left:0;
  right: 0;

  height: 90px;
  width: 100%;
  text-align: center;

  background-color: #FFFFFF;
  opacity: .9;
}

.Flipped button {
  position: relative;

  width: 25%;
  height: 100%;

  outline: none;
  background-color: transparent;
  border: none;
  border-top: 3px solid;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;

  font-size: 18px;

  background: none;
}

button.Fail {
 color: rgb(229, 64, 40);
}

button.Hard {
  color: rgb(241, 141, 5);
}

button.Good {
  color: rgb(0, 161, 203);
}

button.Easy {
  color: rgb(97, 174, 36);
}

.Recap {
  display: block;
  width: 960px;
  margin: auto;
}

.Recap h4 {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

h4.Stat-Header {
  margin-top: 20px;
}

.Review-Grade {
  display: block;
  float: left;

  width: 475px;
}

.Review-Info {
  display: block;
  float: right;

  width: 475px;
}

.Review div.Preview-Divider {
  border-top: 1px solid #ddd;
}

.Review .Preview div.Front {
  position: relative;
  right: 0;
  
  width: 100%;
}
