.Review {
  opacity: 1;
  text-align: center;
}

.Review h1 {
  display: block;
  position: relative;
}

.Review .Title {
  display: block;

  /*float: left;*/
  margin: auto;

}

.Review h1 button {
  display: block;
  color: #25A3FC;
  background: none;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 30px;
  float: left;
  width: 5%;
}

.Review h6 {
  color: #616161;
  background-color: #E5E5E5;
  position: relative;

  margin-top: 0px;
  margin-bottom: 0px;

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  height: 28px;

  font-size: 24px;
}

.Progress-Circle {
  float: right;
  margin: 2px 5px;
}

.Review .Front {
  display: block;
  height: calc(100% - 170px);
}

.Review .Card-Front {
  display: block;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  height: 10%;
}

.Review .Spacer {
  display: block;
  height: 45%;
}

/*.Review .Preview {
  display: block;
  height: 100%;
}*/

.Flipped {
  height: calc(100% - 220px);
}

.Flipped .Preview{
  display: block;
  height: 50%;
  font-size: 18px;
}

.Flipped p{
  height: 100%;
  position: relative;
  margin-top: 23px;
  margin-bottom: 13px;
}

.Flipped .List-Center {
  display: block;
  height: 100%;
}

.Flipped div.Front {
  /*height: 100%;*/
  height: auto;
  position: absolute;
  bottom: 0;
  right: 5%;
  /*margin: auto;*/
  width:90%;
  margin-bottom: 15px;
}

.Flipped div.Back {
  height: 100%;
}

.Review .Normal-Button {
  position: absolute;

  bottom: 0;
  left:0;
  right: 0;
  height: 90px;
  text-align: center;

  width: 100%;

  float: center;
  background-color: #FFFFFF;
  opacity: .9;
  /**/

  border-top: 2px solid #25A3FC;

  color: #25A3FC;
  font-size: 20px;

  margin: auto;

}

.Flipped .Buttons {
  position: absolute;

  bottom: 0;
  left:0;
  right: 0;
  height: 90px;
  text-align: center;
  width: 100%;

  float: center;
  background-color: #FFFFFF;
  opacity: .9;
}

.Flipped button {
  position: relative;
  width: 25%;
  height: 100%;
  background: none;
  outline: none;
  background-color: transparent;
  border: none;
  border-top: 3px solid;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

button.Fail {
 color: rgb(229, 64, 40);

}

button.Hard {
  color: rgb(241, 141, 5);
}

button.Good {
  color: rgb(0, 161, 203);
}

button.Easy {
  color: rgb(97, 174, 36);
}

.Recap {
  display: block;
  width: 960px;
  margin: auto;
}

.Recap h4 {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

h4.Stat-Header {
  margin-top: 20px;
  /*width:95%;*/
}

.Review-Grade {
  display: block;
  width: 475px;
  float: left;
}

.Review-Info {
  display: block;
  width: 475px;
  float: right;
}

.Review div.Preview-Divider {
  border-top: 1px solid #ddd;
}
