.group {
  display: block;
  content: "";
  clear: both;
}

h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;

  background-color: #f8f8f8;
  display: block;

  border-bottom: 1px solid #ddd;

  height: 50px;
}

h4.Stat-Header{
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding-top: 7px;
  height: 24px;
  text-align: center;
}

ul.Stat-List {
  padding: 0px;
}


li .StatTitle {
  float: left;
}
li .Stat {
  float: right;
}

li.Statistic {
  list-style-type: none;
  border-bottom: 1px solid gray;
  width: 90%;
  margin: auto;
}

.Parent-Component{
  background-color: #FFFFFF;

  display: block;

  position: absolute;
  height: 100%;
  width: 100%;
}

.Cancel-Logout-Button {

  background-color: rgba(255,0,0,0);
  border: none;
  outline: none;
  color: red;

}

p.Stat{
  /*padding-right: 5px;*/
}



.Overflow-Test {
  /*height: 100%;
  overflow: hidden;*/
}

.Header-With-Arrow {

}

.Header-With-Arrow h1 {
  display: block;
  width: 100%;
  height: 50px;
}

.Header-With-Arrow h1 a {
color: rgb(37, 163, 252);
width: 5%;
float: left;
text-decoration: none;
}

.Header-With-Arrow h1 p {
color: rgb(68, 68, 68);
margin-top: 0px;
margin-bottom: 0px;
padding: 0px;
width: 90%;
float: left;
}
