.Flashcard-Index .Wrapper {
  position: absolute;
  left: 5%;

  height: calc(100% - 120px);
  width: 90%;

  overflow-y: scroll;
}

.Flashcard-Index div.Empty-Flashcard-Index-Statement {
  text-align: center;
}

div.Empty-Flashcard-Index-Statement p {
  color: gray;
}
