.Flashcard-Index .Wrapper {
  position: absolute;
  left: 5%;

  height: calc(100% - 120px);
  width: 90%;

  overflow-y: scroll;
}

.Flashcard-Index div.Empty-Flashcard-Index-Statement {
  margin-top: 30px;
  text-align: center;
}

div.Empty-Flashcard-Index-Statement p {
  margin: 10px 0 0;
  color: gray;
}
